$medium_purple: #8f57fd;
$hard_purple: #5e1dfc;
$soft_purple: #ab88ff;
$mountain_green: #21c08b;
$golden_rod: #E6AF2E;
$white: white;
$muli: 'Muli', sans-serif;

html {
  margin: 0;
  padding: 0;
  background-color: $medium_purple;
  font-family: $muli;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--global {
  width: 100%;
  height: 80px;
}

.header {
  @extend .header--global;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
}
.header--logo {
  width: 200px;
  margin-left: 10px;
}

.header--menu {
  margin-right: 30px;
}

.header--menu_profile {
  @extend .center;
  margin-right: 8px;
  width: 40px;
  p {
    @extend .center;
    height: 50px;
    margin: 0 0 0 10px;
  }
}

.header--menu ul {
  display: none;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
  margin: 0 0 0 -30px;
  li {
    margin: 10px 0;
    a:hover {
      text-decoration: underline;
    }
  }
}

.header--menu:hover ul,
ul:hover{
  display: block;
}

.search {
  @extend .center;
  flex-direction: column;
  color: $white;
  height: 200px;
  h2 {
    font-weight: 400;
  }
  input {
    width: 70%;
    padding: 15px 0 15px 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid $white;
<<<<<<< HEAD
    color: $golden_rod;
=======
    color: $hard_purple;
>>>>>>> f3688275f4d0be1aaa6e5592b9bc26d843b7a950
    background-color: rgba($color: $white, $alpha: 0.1);
  }
}

::placeholder {
  color: $white;
}

.carousel {
  width: 100%;
  overflow: scroll;
  position: relative;
}

.title--main1 {
  color: $white;
  padding-left: 30px;
  font-weight: 600;
}
.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
  padding-left: 30px;
}

.carousel-item {
  background-color: $golden_rod;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item{
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-item__details-center {
  margin: 0 0 3px 0;
  padding-left: 5px;
}
.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $white;
  .carousel-item__details--title {
    @extend .carousel-item__details-center;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
  }
  .carousel-item__details--subtitle {
    @extend .carousel-item__details-center;
  }
  div > img {
    width: 30px;
  }
}

.carousel-item__details:hover {
  opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}
