@import "../componentes/global.scss";

.header {
  @extend .header--global;
  background-color: $mountain_green;
}

.login {
  @extend .center;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  background: linear-gradient($mountain_green, $medium_purple);
  padding: 0 30px;
}

.login--form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.login--remember {
  @extend .center;
  font-size: 12px;
  justify-content: space-between;
  margin: 10px 0;
}

.login--remember__check {
  @extend .center;
  input {
    margin-right: 5px;
  }
}

.social--login {
  margin: 70px 0;
}

.social--login__red {
  @extend .center;
  justify-content: flex-start;
  img {
    padding-right: 10px;
  }
}

.footer {
  @extend .footer-global;
}

a:hover {
  text-decoration: underline;
}
.register {
  text-align: center;
}
.back-login {
  @extend .center;
  height: 150px;
  text-align: center;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}


.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.not-found {
  color: $white;
  font-family: $muli;
  margin-bottom: 10px;
  text-align: center;
  h1 {
    font-size: 100px;
  }
}


@import "../componentes/media-query.scss";
