* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #8f57fd;
  font-family: "Muli", sans-serif;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.center, .search, .header--menu_profile p, .header--menu_profile, .footer-global, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--global, .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

.header--logo {
  width: 200px;
  margin-left: 10px;
}

::placeholder, .login--form__input {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.login--container {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 60px 68px 40px;
  min-height: 520px;
  width: 300px;
  height: calc(100vh - 250PX);
  border-radius: 25px;
  color: white;
}
.login--container h3 {
  font-weight: 400;
}

.login--form__input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.login--form_button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
  padding: 15px 0;
  margin: 20px 0;
  color: white;
  font-size: 14px;
  outline: none;
}

.footer-global, .footer {
  height: 50px;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 14px;
  position: relative;
  bottom: 0;
}
.footer-global a, .footer a {
  color: white;
  padding-right: 20px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #8f57fd;
  font-family: "Muli", sans-serif;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.center, .search, .header--menu_profile p, .header--menu_profile, .footer-global, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--global, .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

.header--logo {
  width: 200px;
  margin-left: 10px;
}

::placeholder, .login--form__input {
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.login--container {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 60px 68px 40px;
  min-height: 520px;
  width: 300px;
  height: calc(100vh - 250PX);
  border-radius: 25px;
  color: white;
}
.login--container h3 {
  font-weight: 400;
}

.login--form__input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.login--form_button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 50px;
  padding: 15px 0;
  margin: 20px 0;
  color: white;
  font-size: 14px;
  outline: none;
}

.footer-global, .footer {
  height: 50px;
  justify-content: flex-start;
  padding-left: 20px;
  font-size: 14px;
  position: relative;
  bottom: 0;
}
.footer-global a, .footer a {
  color: white;
  padding-right: 20px;
}

.carousel {
  width: 100%;
  overflow: scroll;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
  padding-left: 30px;
}

.carousel-item {
  background-color: #E6AF2E;
  width: 200px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: 450ms;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-item__details-center, .carousel-item__details .carousel-item__details--subtitle, .carousel-item__details .carousel-item__details--title {
  margin: 0 0 3px 0;
  padding-left: 5px;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
.carousel-item__details .carousel-item__details--title {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}
.carousel-item__details div > img {
  width: 30px;
}

.carousel-item__details:hover {
  opacity: 1;
}

.header--menu {
  margin-right: 50px;
}

.header--menu_profile {
  margin-right: 8px;
  width: 40px;
}
.header--menu_profile p {
  height: 50px;
  margin: 0 0 0 10px;
}

.header--menu ul {
  display: none;
  padding: 0;
  position: absolute;
  text-align: right;
  width: 100px;
  margin: 0 0 0 -30px;
}
.header--menu ul li {
  margin: 10px 0;
}
.header--menu ul li a:hover {
  text-decoration: underline;
}

.header--menu:hover ul,
ul:hover {
  display: block;
}

.search {
  flex-direction: column;
  color: white;
  height: 200px;
}
.search h2 {
  font-weight: 400;
  margin-bottom: 20px;
}
.search input {
  width: 70%;
  padding: 15px 0 15px 20px;
  border-radius: 25px;
  outline: none;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.title--main1 {
  color: white;
  padding-left: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 450px) {
  .login--container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .login--form {
    margin-top: 50px;
  }

  .social--login {
    margin: 40px 0;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
  }

  .carousel-item {
    width: 150px;
    height: 200px;
  }
}
@media only screen and (max-width: 320px) {
  .header--menu_profile p {
    display: none;
  }

  .header--menu {
    margin-right: 20px;
  }
  .header--menu ul {
    margin-left: -55px;
  }
}

/*# sourceMappingURL=main.css.map */
